<h1>Sidebar</h1>

<ul id="sidebar-links">
     <li><a class="@(Url.RouteUrl(ViewContext.RouteData.Values) == "/dashboard" ? "active" : "")" data-sidebar-resource="dashboard">Dashboard</a></li>
     <li><a class="@(Url.RouteUrl(ViewContext.RouteData.Values) == "/categories" ? "active" : "")" data-sidebar-resource="categories">Categories</a></li>
     <li><a class="@(Url.RouteUrl(ViewContext.RouteData.Values) == "/transactions" ? "active" : "")" data-sidebar-resource="transactions">Transactions</a></li>
     <li><a class="@(Url.RouteUrl(ViewContext.RouteData.Values) == "/workspaces" ? "active" : "")" href="/workspaces">Workspace</a></li>
     <li><a class="@(Url.RouteUrl(ViewContext.RouteData.Values) == "/users" ? "active" : "")" data-sidebar-resource="users">Users</a></li>
     <li><a class="@(Url.RouteUrl(ViewContext.RouteData.Values) == "/profile" ? "active" : "")" data-sidebar-resource="profile">Profile</a></li>
</ul>

<script>
     // TODO refactor this
     const pathname = window.location.pathname;

     const parts = pathname.split('/');

     const workspaceId = parts[2];

     document.querySelectorAll('[data-sidebar-resource]').forEach(link => {
          const resource = link.getAttribute('data-sidebar-resource');


          link.setAttribute('href', `/Workspaces/${workspaceId}/${resource}/Index`);
     })
</script>